@page
@model Divan_Siiri.Views.nazimSekilleri.gazelModel
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<br />
<div class="dznlm">
    <br />
    <h2>Gazel</h2>
    <br />
    <ul>
        <li>
            <p>Gazel, Divan edebiyatında en yaygın kullanılan nazım şekillerinden biridir. Her beyiti birbirinden bağımsız olan gazel, genellikle aşk, doğa ve içsel duygular gibi temaları işler.</p>
        </li>
        <li>
            <p>Gazel, 5-15 beyitten oluşur. Her beyitte aynı kafiye düzeni kullanılır ve son beyitteki beyit, gazelin tamamlayıcı bir anlam taşır.</p>
        </li>
        <li>
            <p>Uyak düzeni “aa, ba, ca, da, …” biçimindedir.</p>
        </li>
        <li>
            <p>İlk beyitine <b>“matla“</b>, ikinci beyitine <b>“hüsn-i matla“</b>; son beyitine <b>“makta”</b> veya <b>“taç beyit“</b>, ondan bir öncekine de <b>“hüsn-i makta”</b> denir.</p>
        </li>
        <li>
            <p>En güzel beyitine <b>“beyt-ül gazel”</b> denir.</p>
        </li>
        <li>
            <p>Şairin adı veya mahlası son beyitte geçer.</p>
        </li>
        <li>
            <p>Gazeller redifleriyle adlandırılır.</p>
        </li>
        <li>
            <p>Konu bakımından Halk şiirindeki koşmaya benzer.</p>
        </li>
        <li>
            <p>Konu birliği görülen gazellere <b>“yek-ahenk gazel”</b> denir. Bütün beyitleri aynı güzellikte olan gazellere <b>“yek-avaz gazel”</b> denir.</p>
        </li>
        <li>
            <p>Dize ortalarında iç uyaklı olan ve dörtlük haline getirilebilen gazellere <b>“musammat gazel”</b> denir.</p>
        </li>
        <li>
            <p>Felsefi düşüncelerin dile getirildiği gazellere <b>“hikemi gazel”</b> adı verilir.</p>
        </li>
        <li>
            <p>Divan şiirinde en ünlü gazel şairleri şunlardır: “Fuzuli, Nabi, Nedim, Baki, Naili”</p>
        </li>
    </ul>
</div>
