@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="dznlm">
    <br />
    <h2>Kaside</h2>
    <br />
    <ul>
        <li>
            <p>Kaside, Divan edebiyatının en önemli nazım şekillerinden biridir. Genellikle bir kişiyi övmek amacıyla yazılır ve dinî, ahlaki ya da toplumsal konuları işler.</p>
        </li>
        <li>
            <p>Kasideler, "nesib", "girizgah" ve "methiye" gibi bölümlerden oluşur.</p>
        </li>
        <li>
            <p>Genellikle 33-99 beyit arasında değişen kasidelerde, ilk bölümde doğa betimlemeleri yapılır, ardından övgü kısmına geçilir.</p>
        </li>
        <li>
            <p>Aruzun değişik kalıplarıyla yazılır.</p>
        </li>
        <li>
            <p>Uyak düzeni gazele benzer: “aa / ba / ca / da /ea”</p>
        </li>
        <li>
            <p>Gazelde olduğu gibi ilk beyte <b>“matla“</b>, son beyte <b>“makta“</b>, en güzel beyte <b>“beyt-ül kasid“</b>, şairin adı veya mahlasının geçtiği beyte <b>“taç beyit”</b> denir.</p>
        </li>
        <li>
            <p>Kasideler adını rediflerinden, uyaklarındaki son ünsüzden veya nesib bölümündeki tasvirlerden alır.</p>
        </li>
        <li>
            <p>En ünlü kaside şairleri şunlardır: “Nefi, Nedim, Fuzuli, Baki…”</p>
        </li>
    </ul>
    <h2>Kasidenin Bölümleri:</h2>
    <ul>
        <li>
            <p><b>Nesib – Teşbib:</b> Bu bölümde kasideyle ilgisi olmayan tasvirler yapılır (yaz, taş, saray, bahar, bahçe…).</p>
        </li>
        <li>
            <p><b>Girizgâh:</b> Asıl konuya giriş bölümüdür. Bir veya birkaç beyitten oluşur.</p>
        </li>
        <li>
            <p><b>Methiye:</b> Allah’ın, peygamberin, padişahın veya önde gelen kişilerin övüldüğü bölümdür.</p>
        </li>
        <li>
            <p><b>Fahriye:</b> Şairin kendini övdüğü bölümdür.</p>
        </li>
        <li>
            <p><b>Tegazzül:</b> Kasidenin ölçüsüne uygun olarak araya sıkıştırılan gazeldir.</p>
        </li>
        <li>
            <p><b>Dua:</b> Bu bölümde kasidenin sunulduğu kişiye sağlık ve zenginlik dilenir.</p>
        </li>
    </ul>
    <p><b>Not:</b> “Fahriye” ve “tegazzül” her kasidede bulunmayabilir.</p>
    <h2>Konularına Göre Kasideler:</h2>
    <ul>
        <li>
            <p><b>Tevhid:</b> Allah’ın birliğini, varlığını anlatan kasidelerdir.</p>
        </li>
        <li>
            <p><b>Münacaat:</b> Allah’a yakarışı dile getiren kasidelerdir.</p>
        </li>
        <li>
            <p><b>Naat:</b> Peygamberi öven kasidelerdir.</p>
        </li>
        <li>
            <p><b>Medhiye:</b> Devrin önde gelen kişilerini; din ve devlet adamlarını öven kasidelerdir.</p>
        </li>
        <li>
            <p><b>Hicviye:</b> Devrin yöneticilerini yermek için yazılan kasidelerdir.</p>
        </li>
        <li>
            <p><b>Mersiye:</b> Önemli birinin ölümünden duyulan acıyı dile getiren kasidelerdir.</p>
        </li>
        <li>
            <p><b>Cülûsiyye:</b> Padişahın tahta oturması münasebetiyle yazılan kasidelerdir.</p>
        </li>
        <li>
            <p><b>Sûriyye:</b> Düğün ya da sünnet gibi şenlikleri ele alan kasidelerdir.</p>
        </li>
    </ul>
</div>