@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="dznlm">
    <br />
    <h2>Mesnevi</h2>
    <br />
    <ul>
        <li>
            <p>Mesnevi, Divan edebiyatında en önemli nazım şekillerinden biridir. Genellikle her beyitte iki dize bulunur ve bu türdeki şiirler didaktik bir nitelik taşır.</p>
        </li>
        <li>
            <p>Mesnevi, uzun manzum eserlerde anlatıcı olarak kullanılır ve genellikle aşk, tasavvuf, kahramanlık, savaş, ahlaki, dini veya felsefi konuları işler.</p>
        </li>
        <li>
            <p>En bilinen mesnevi eseri, Mevlânâ'nın "Mesnevi" adlı eseridir. Bu eser, tasavvufî düşüncelerle birlikte halkı eğitici ve bilgilendirici bir şekilde anlatmak amacı güder. Mesnevi, 6 ciltlik büyük bir eserdir ve her biri anlam derinliğiyle doludur.</p>
        </li>
        <li>
            <p>Fars edebiyatından alınan bir nazım biçimidir.</p>
        </li>
        <li>
            <p>Her beyit kendi arasında uyaklıdır. “aa / bb / cc / dd…”</p>
        </li>
        <li>
            <p>Divan edebiyatının en uzun nazım biçimidir. Hikâye ve romanın işlevini görür.</p>
        </li>
        <li>
            <p>Aruzun kısa kalıplanyla yazılır.</p>
        </li>
        <li>
            <p>Beyitler arasında anlamca bir bütünlük vardır.</p>
        </li>
        <li>
            <p>Bir şairin beş mesneviden oluşan eserler bütününe <b>“hamse”</b> denir. Edebiyatımızda “Ali Şir Nevai, Taşlıcalı Yahya, Nevizade Atayi” hamse sahibi şairlerdir.</p>
        </li>
        <li>
            <p>Edebiyatımızda ilk mesnevi Yusuf Has Hacip’in “Kutadgu Bilig‘ adlı eseridir. Eser, aruzun kullanıldığı ilk eserdir.</p>
        </li>
    </ul>
    <h2>Türk Edebiyatının Önemli Mesnevileri:</h2>
    <ul>
        <li>
            <p>Kutadgu Bilig (Yusuf Has Hacip)</p>
        </li>
        <li>
            <p>İskendername (Ahmedi)</p>
        </li>
        <li>
            <p>Vesilet-ün Necat (Süleyman Çelebi)</p>
        </li>
        <li>
            <p>Harnârne (Şeyhi)</p>
        </li>
        <li>
            <p>Leyla vü Mecnun (Fuzuli)</p>
        </li>
        <li>
            <p>Hüsrev-ü Şirin (Şeyhi)</p>
        </li>
        <li>
            <p>Hüsn-ü Aşk (Şeyh Galip)</p>
        </li>
        <li>
            <p>Mantık-ut Tayr (Gülşehri)</p>
        </li>
        <li>
            <p>Hayriyye (Nabî)</p>
        </li>
    </ul>
</div>