@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm">
    <br />
    <h2>Murabba</h2>
    <br />
    <ul>
        <li>
            <p>Murabba, Divan edebiyatında dört dizeden oluşan ve her dizesinde aynı kafiyenin kullanıldığı bir nazım şeklidir.</p>
        </li>
        <li>
            <p>Murabba, genellikle aşk, ayrılık, hüzün gibi duygusal temaları işler ve anlam yüklü kısa şiirlerdir.</p>
        </li>
        <li>
            <p>Murabba türündeki şiirlerde, şair duygu ve düşüncelerini yoğun bir şekilde dile getirir. Bu tür, sadelik ve anlam derinliği açısından oldukça güçlüdür.</p>
        </li>
        <li>
            <p>Murabba, kısa fakat etkili bir anlatım biçimi olarak Divan edebiyatının önemli nazım şekillerindendir.</p>
        </li>
        <li>
            <p>Uyak düzeni aaaa / bbba /ccca … biçimindedir.</p>
        </li>
        <li>
            <p>En az üç, en fazla altı bentten oluşur.</p>
        </li>
        <li>
            <p>Nedim ve Namık Kemal bu türün başarılı örneklerini sunan şairlerimizdir.</p>
        </li>
    </ul>
</div>