@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm">
    <br />
    <h2>Rubai</h2>
    <br />
    <ul>
        <li>
            <p>Rubai, Divan edebiyatının en kısa nazım şekillerinden biridir. Dört dizeden oluşur ve genellikle tek bir düşünceyi, duyguyu veya felsefi bir mesajı ifade eder. Rubailer, insan hayatı, aşk, tasavvuf ve felsefi düşünceler üzerine derin anlamlar taşır.</p>
        </li>
        <li>
            <p>Rubailerin en bilinen şairlerinden biri, Türk edebiyatının büyük ismi Ömer Hayyam'dır. Onun rubaileri, hem aşk hem de hayatın geçiciliği hakkında evrensel mesajlar içerir.</p>
        </li>
        <li>
            <p>Rubailerde özgün bir dil ve anlam derinliği bulunur.</p>
        </li>
        <li>
            <p>İran (Fars) edebiyatından alınmış bir nazım biçimidir.</p>
        </li>
        <li>
            <p>Kendine özgü aruz kalıplarıyla yazılır. (Bunların sayısı 24 kadardır.)</p>
        </li>
        <li>
            <p>Düşüncelerin özlü bir biçimde anlatılması temeline dayalı nazım biçimidir.</p>
        </li>
        <li>
            <p>Uyak düzeni “aaxa” biçimindedir.</p>
        </li>
        <li>
            <p>Genellikle mahlas kullanılmaz.</p>
        </li>
        <li>
            <p>Azmîzâde Haleti, sadece rubai yazan tek şair olarak bilinir.</p>
        </li>
        <li>
            <p>Yahya Kemal Beyatlı, Arif Nihat Asya rubaileriyle tanınan şairlerimizdir.</p>
        </li>
    </ul>
</div>