@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm">
    <br />
    <h2>Şarkı</h2>
    <br />
    <ul>
        <li>
            <p>Şarkı, Divan edebiyatının önemli nazım şekillerinden biridir ve genellikle tek bir beyitten oluşur. Aşk, sevgi, eğlence, kadın, güzellik, içsel duygular ve doğa gibi temaları işler.</p>
        </li>
        <li>
            <p>Şarkılar, lirik bir üslup kullanarak şairin ruh halini, duygu dünyasını yansıtır.</p>
        </li>
        <li>
            <p>Şarkı türünde şair, kısa ama öz dizelerle içsel dünyasını ve aşkı dile getirir. Bu türde, ahenk ve ritim büyük önem taşır ve şairin bireysel duygularını ifade etmesi ön plandadır. Şarkılar, en çok aşk şiirlerinde ve içsel huzur arayışında kullanılmıştır.</p>
        </li>
        <li>
            <p>Divan şiirine Türk şairlerin kattığı bir nazım biçimidir.</p>
        </li>
        <li>
            <p>Halk edebiyatındaki türkünün etkisiyle oluştuğu ifade edilir.</p>
        </li>
        <li>
            <p>Biçim bakımından murabbaya benzeyen şarkılar, genel olarak bestelenmek için yazılır.</p>
        </li>
        <li>
            <p>Dörtlük sonlarında tekrar edilen bölüme nakarat adı verilir. Şarkılar bent ve nakarat bölümlerinden oluşur.</p>
        </li>
        <li>
            <p>Dörtlük sayısı üç ve beş arasında değişir.</p>
        </li>
        <li>
            <p>Uyak düzeni genelde abab (aaaa) / cccb / dddb… biçimindedir.</p>
        </li>
        <li>
            <p>Lale devrinde gelişmiş ve yaygınlaşmıştır. Nedim ve Yahya Kemal bu türün önemli şairleridir.</p>
        </li>
    </ul>
</div>