@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm">
    <br />
    <h2>Terkib-i Bent</h2>
    <br />
    <ul>
        <li>
            <p>Terkib-i bent, Divan edebiyatında kullanılan uzun bir nazım şeklidir. Bu türde, her bent içinde birkaç beyit bulunur ve bentlerin her biri bir anlam bütünlüğü taşır.</p>
        </li>
        <li>
            <p>Şair, terkib-i bentte düşüncelerini geniş bir biçimde ifade eder, şairin anlatmak istediği mesajı daha derinlemesine işlemek için uygundur.</p>
        </li>
        <li>
            <p>Her bentteki beyitler birbirine bağlıdır, ancak birbiriyle sıkı bir şekilde bağımlı olmayabilirler. Terkib-i bentlerde genellikle aşk, doğa, tasavvuf ve insan hayatına dair daha kapsamlı temalar işlenir. Bu tür, şairin uzun bir anlatı oluşturmasına imkan tanır ve anlam zenginliği ile dikkat çeker.</p>
        </li>
        <li>
            <p>Bent sayısı 5-10 arasında değişir. Bentleri oluşturan dizeler, genelde gazeldeki gibi uyaklanır.</p>
        </li>
        <li>
            <p>Her bendin sonunda bir <b>vasıta beyiti</b> vardır. Vasıta beyti, her bendin sonunda değişir, bentten ayrı olarak kendi arasında uyaklanır.</p>
        </li>
        <li>
            <p>Vasıta beytinin üstündeki beyitlerin tümüne <b>“terkibhâne”</b> adı verilir.</p>
        </li>
        <li>
            <p>Felsefi ve sosyal düşünceler, zamandan yakınmalar, mersiyeler bu biçimle yazılır.</p>
        </li>
        <li>
            <p>“Kanuni Mersiyesi” terkib-i bent biçiminde yazılmıştır.</p>
        </li>
        <li>
            <p>Bağdatlı Ruhi ve Ziya Paşa bu nazım biçiminin ustalarıdır.</p>
        </li>
    </ul>
</div>