@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm">
    <br />
    <h2>Tuyuğ</h2>
    <br />
    <ul>
        <li>
            <p>Tuyuğ, Divan edebiyatında 7'li hece ölçüsüyle yazılan ve beş dizeden oluşan bir nazım şeklidir. Genellikle tek bir düşünceyi, duyguyu veya felsefi bir mesajı anlatır.</p>
        </li>
        <li>
            <p>Tuyuğlar, genellikle kısa, öz ve anlam yüklü dizelerle oluşturulur.</p>
        </li>
        <li>
            <p>Tuyuğlar, halk edebiyatındaki "kaside" türüne benzer bir biçimde, şairin duygu ve düşüncelerini sade bir dil ve kısa cümlelerle ifade ettiği nazım şekilleridir. Şairler, bu türde anlam yoğunluğunu artırarak kısa ama etkili şiirler yaratırlar.</p>
        </li>
        <li>
            <p>Divan şiirine Türk şairlerin kattığı bir nazım biçimdir.</p>
        </li>
        <li>
            <p>Tek dörtlükten oluşur, uyak düzeni maniye benzer. Halk şiirindeki maninin, Dîvan şiirine yansımış biçimi kabul edilir.</p>
        </li>
        <li>
            <p>Konu sınırlaması yoktur, rubaideki konular tuyuğda da vardır. En çok aşk, aşk acısı, şarap konu edilir.</p>
        </li>
        <li>
            <p>Mahlas kullanılmaz. Aruzun sadece “fâilâtün / fâilâtün / fâilün” kalıbıyla yazılır.</p>
        </li>
        <li>
            <p>Rubaiden vezin ve cinas yönüyle ayrılır.</p>
        </li>
        <li>
            <p>Edebiyatımızda en çok tuyuğ yazmış şair Kadı Burhanettin’dir.</p>
        </li>
    </ul>
</div>