@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="dznlm">
    <h3 class="title">Bâkî'nin en bilinen eserleri</h3>
    <h4>1. Divan (Türkçe Divan)</h4>
    <ul class="icerik">
        <li>Bâkî’nin en önemli eseridir.</li>
        <li>Gazel, kaside, terkib-i bend, terci-i bend gibi nazım şekillerini içerir.</li>
        <li>Özellikle aşk, tabiat ve zevk-i sefâ temaları öne çıkar.</li>
        <li>Dili süslü ve ahenkli, sanatlı söyleyişiyle dikkat çeker.</li>
        <li>Gazelleriyle büyük ün kazanmıştır; sade ve zarif bir üslupla yazılmıştır.</li>
    </ul>
    <h4>2. Fazilet-nâme (yazmaya başladığı ama tamamlanamayan eser)</h4>
    <ul class="icerik">
        <li>Bâkî'nin yazmayı düşündüğü, bazı parçaları yazılmış ama tamamlanmamış bir nasihatname türünde eserdir.</li>
        <li>Dönemin padişahı II. Selim’e ithafen yazıldığı bilinir.</li>
        <li>Eğitim, ahlak ve erdem konuları ele alınır.</li>
    </ul>
    <h4>3. Mersiyeler (Özellikle Kanuni Sultan Süleyman Mersiyesi)</h4>
    <ul class="icerik">
        <li>En tanınmış mersiyesi, <b>"Kanuni Sultan Süleyman Mersiyesi"</b>dir.</li>
        <li>Kanuni’nin ölümü üzerine yazılmıştır.</li>
        <li>Yüksek edebi değeri olan bu mersiye, hem duygu derinliği hem de sanatsal gücüyle çok önemlidir.</li>
    </ul>
</div>