@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="content-1">
<div class="dznlm">
  <h3 class="title">Fuzuli'nin en bilinen eserleri</h3>
  <h4>1.Leyla ile Mecnun (Mesnevi)</h4>
  <ul class="icerik">
    <li>En meşhur eseridir.</li>
    <li>Arap kökenli olan bu aşk hikâyesini mesnevi tarzında yeniden yazmıştır.</li>
    <li>Hem aşkı hem de tasavvufu derin şekilde işler.</li>
    <li>Divan edebiyatının en güzel mesnevilerinden biridir.</li>
  </ul>
  <h4>2. Divan (Türkçe Divan)</h4>
  <ul class="icerik">
    <li>Gazel, kaside, murabba gibi nazım şekillerini içerir</li>
    <li>Aşk, ayrılık, Allah sevgisi ve tasavvufi temalar öne çıkar.</li>
    <li>Türkçe yazılmıştır ve çok sayıda gazel içerir</li>
  </ul class="icerik">
  <h4>3. Su Kasidesi</h4>
  <ul class="icerik">
    <li>Hz. Peygamber’e övgü niteliğindedir (naat)</li>
    <li>Kaside nazım şekliyle yazılmıştır.</li>
    <li>Sanat değeri çok yüksektir, edebiyat tarihinde ayrı bir yere sahiptir</li>
    <li>Su mecazı üzerinden ilahi aşkı işler</li>
  </ul>
  <h4>4. Hadikatü’s-Süeda (Süleymanların Bahçesi)</h4>
  <ul class="icerik">
    <li>Kerbela Olayı'nı konu alır.</li>
    <li>Dini-tasavvufi yönü ağır basar.</li>
    <li>Nesir (düzyazı) ve nazım karışımı bir eserdir.</li>
  </ul>
  <h4>5. Rind ü Zahid</h4>
  <ul class="icerik">
    <li>Şiirsel bir diyalog şeklindedir.</li>
    <li>Rind (dünya zevklerini önemseyen) ile Zahid (dindar, zahidane yaşayan) arasında geçer.</li>
    <li>Hayatın anlamı, aşk ve ahlak gibi konular tartışılır.</li>
  </ul>
</div>
</div>