@{
    ViewData["Title"] = "Home Page";
}

<div id="content">
  <!--MAIN-CONTENT-->
  <div id="main-content">
    <!--CONTENT 1 END-->
    <div id="content-1">
      <div class="featured">
        <h2 class="tanim">Divan Şiiri Nedir?</h2>
      <p class="center-justified">
        <strong>Divan Şiiri</strong>, Osmanlı İmparatorluğu döneminde gelişmiş olan ve Türk edebiyatının en önemli şiir geleneklerinden biri olan bir şiir türüdür. Arap ve Fars edebiyatlarından etkilenerek ortaya çıkmış olan Divan şiiri, özellikle 16. ve 17. yüzyıllarda zirveye ulaşmıştır.
      </p>
      <p class="center-justified">
        Bu şiir türünde, dil zenginliği, beyit yapısı, kafiye düzeni ve süslü anlatım ön plandadır. 
      </p>
      <P id="sn" class="center-justified">
        Bir Divan şairi, hem <em>Farsça</em> hem de <em>Arapça</em> dilinde bilgili olmalı, dönemin kültürüne uygun olarak bu dillerdeki terimleri ve imgeleri ustaca kullanmalıdır. 
        <br><br>
        Divan şiirinde kullanılan dil, oldukça <em>süslü</em> ve <em>zorlayıcı</em> olabilir, ancak bu, şiire derinlik katar ve şairin bilgi ve yetenek seviyesini yansıtır. Divan şiirinin en önemli temsilcilerinden biri olan <strong>Fuzuli</strong>, <strong>Baki</strong>, <strong>Nedim</strong> gibi ünlü şairler, bu geleneğin en büyük örneklerini vermiştir.
      </p>
       
      </div>
      <div class="clearfix"></div>
       <div class="row ortala"> <h4 style="font-weight:bold; text-align:center;">Divan Şiiri Nazım Şekilleri</h4>
           @* class="table table-bordered" *@
           <table class="table table-bordered">
              <thead>
                <tr colspan="4">
                    <th rowspan="2" scope="col" style="padding-bottom:2.2%;">BEYİTLERLE KURULANLAR</th>
                    <th colspan="2" scope="col">BENTLERLE KURULANLAR</th>
                </tr>
                <tr>
                    <th scope="col">DÖRTLÜKTEN OLUŞANLAR</th>
                    <th scope="col">MUSAMMATLAR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>Gazel</td>
                    <td>Rubai</td>
                    <td>Terkibibent - Terciibent</td>
                </tr>
                <tr>
                    <td>Kaside</td>
                    <td>Tuyuğ</td>
                    <td>Beşli : Muhammes, Tardiye, Tahmis, Taştir</td>
                </tr>
                <tr>
                     <td>Mesnevi</td>
                     <td>Murabba</td>
                     <td>Altılı : Müseddes, Tesdis</td>
                </tr>
                <tr>
                    <td>Kıt'a</td>
                    <td>Şarkı</td>
                    <td>Yedili : Müsebba</td>
                </tr>
                <tr>
                    <td>Müstezat</td>
                    <td>Terbi</td>
                    <td>Sekizli : Müsemmen</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Dokuzlu : Mütessa</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Onlu : Muaşşer</td>
                </tr>
              </tbody>
            </table>
       @* <table class="ortala">
        <tr colspan="4">
            <th rowspan="2">BEYİTLERLE KURULANLAR</th>
            <th colspan="2">BENTLERLE KURULANLAR</th>
            
        </tr>
        <tr>
            <th>DÖRTLÜKTEN OLUŞANLAR</th>
            <th>MUSAMMATLAR</th>
        </tr>
        <tr>
            <td>Gazel</td>
            <td>Rubai</td>
            <td>Terkibibent - Terciibent</td>
        </tr>
        <tr>
            <td>Kaside</td>
            <td>Tuyuğ</td>
            <td>Beşli : Muhammes, Tardiye, Tahmis, Taştir</td>
        </tr>
        <tr>
            <td>Mesnevi</td>
            <td>Murabba</td>
            <td>Altılı : Müseddes, Tesdis</td>
        </tr>
        <tr>
            <td>Kıt'a</td>
            <td>Şarkı</td>
            <td>Yedili : Müsebba</td>
        </tr>
        <tr>
            <td>Müstezat</td>
            <td>Terbi</td>
            <td>Sekizli : Müsemmen</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Dokuzlu : Mütessa</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Onlu : Muaşşer</td>
        </tr>
    </table> *@
     <br />
    <h4 style="font-weight:bold; text-align:center; border-bottom:solid">Divan Edebiyatının Önemli Temsilcileri (Şairleri, Sanatçıları) ve Eserleri</h4>
    <br />
    </div>
    <div class="row">
    <div class="col-sm-6">
        <div class="card" style="background-color:#e5dcb5 !important;">
            <div class="card-body">
                <h5 class="card-title">Fuzuli</h5>
                <h6 class="card-subtitle mb-2 text-muted">(1483? - 1556)</h6>
                <p class="card-text center-justified">Gerçek adı Mehmet bin Süleyman olan Fuzuli, 15. yüzyılın sonlarında Azerbaycan’da (Kerbela veya Bağdat civarı olduğu düşünülüyor) doğdu. Osmanlı, Safevi ve Akkoyunlu devletlerinin hâkimiyet mücadeleleri içinde kalan bir bölgede yaşadı. Fuzuli, özellikle aşk, tasavvuf ve insan duygularını işleyen şiirleriyle tanınır. Osmanlı padişahı Kanuni Sultan Süleyman’ın 1534’teki Irak Seferi sırasında onun dikkatini çekmiş, ancak kendisine verilen maaşı alamadığı için ünlü Şikâyetname eserini yazmıştır. 1556 yılında vebadan öldüğü düşünülmektedir.</p>
                <a href="/Home/Fuzuli" class="btn btn-white">En bilinen eserleri</a>
            </div>
        </div>
            <br />
    </div>
    <div class="col-sm-6">
        <div class="card" style="background-color:#e5dcb5 !important;">
            <div class="card-body">
                <h5 class="card-title">Baki</h5>
                <h6 class="card-subtitle mb-2 text-muted">(1526-1600)</h6>

                <p class="card-text center-justified">
                    Asıl adı Mahmud Abdülbaki olan Baki, 1526’da İstanbul’da doğdu. Küçük yaşta medrese eğitimi aldı ve şiire ilgi duymaya başladı. Kanuni Sultan Süleyman başta olmak üzere Osmanlı padişahlarının ve devlet adamlarının yakınında bulundu. Baki, özellikle gazel türündeki şiirleriyle Osmanlı Türkçesini en etkili şekilde kullanan şairlerden biri olmuştur. Osmanlı padişahlarından büyük ilgi görse de şeyhülislam olma isteği gerçekleşmemiştir. 1600 yılında İstanbul’da vefat etmiştir.

                </p>
                <br />
                <a href="/Home/Baki" class="btn btn-white">En bilinen eserleri</a>
            </div>
        </div>
            <br />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card" style="background-color:#e5dcb5 !important;">
            <div class="card-body">
                <h5 class="card-title">
                    Nef'i
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">(1572-1635)</h6>

                <p class="card-text center-justified">
                    Asıl adı Ömer olan Nefi, 1572’de Erzurum’un Pasinler ilçesinde doğdu. Medrese eğitimi aldıktan sonra İstanbul’a giderek devlet adamlarına kasideler yazmaya başladı. Özellikle IV. Murad ve Sultan I. Ahmet dönemlerinde saraya yakın oldu. Nefi, hicivleriyle (taşlamalarıyla) tanınır. Ancak bu özelliği ona birçok düşman kazandırdı. Osmanlı sarayındaki önemli devlet adamlarını sert bir şekilde eleştirdiği için defalarca uyarıldı. Sonunda IV. Murad’ın vezirlerinden Bayram Paşa tarafından 1635 yılında boğdurularak öldürüldü.

                </p>
                <a href="/Home/Nefi" class="btn btn-white">En bilinen eserleri</a>
            </div>
        </div>
        <br />
    </div>


    <div class="col-sm-6">
        <div class="card" style="background-color:#e5dcb5 !important;">
            <div class="card-body">
                <h5 class="card-title">Şeyh Galip</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    (1757-1799)

                </h6>
                <p class="card-text center-justified">
                    Asıl adı Mehmet Esad olan Şeyh Galip, 1757 yılında İstanbul’da doğdu. Küçük yaşlardan itibaren şiire ilgi duydu ve Mevlevi tarikatına katıldı. Mevlevilikte önemli bir konuma yükselerek Galata Mevlevihanesi şeyhi oldu. Divan edebiyatının son büyük şairi olarak kabul edilen Şeyh Galip, özellikle Hüsn ü Aşk adlı eseriyle tanınır. 1799 yılında, henüz 42 yaşındayken İstanbul’da vefat etmiştir.

                </p>
                <br />
                <br />

                <a href="/Home/seyhGalip" class="btn btn-white">En bilinen eserleri</a>
            </div>
        </div>
    </div>
</div>
     @*  <br />
      <h4 style="font-weight:bold; text-align:center; border-bottom:solid">Divan Edebiyatının Önemli Temsilcileri (Şairleri, Sanatçıları) ve Eserleri</h4>
      <div class="odd-post">
        <div class="post-header">
          <h3>Fuzuli</h3>
          <p style="font-size:25px;">(1483? - 1556)</p>
          <span class="category"><a class="nav-link text-dark btnw" href="/Home/Fuzuli">En bilinen eserleri</a></span> </div>
        <p class="temsilciler">Gerçek adı Mehmet bin Süleyman olan Fuzuli, 15. yüzyılın sonlarında Azerbaycan’da (Kerbela veya Bağdat civarı olduğu düşünülüyor) doğdu. Osmanlı, Safevi ve Akkoyunlu devletlerinin hâkimiyet mücadeleleri içinde kalan bir bölgede yaşadı.

Fuzuli, özellikle aşk, tasavvuf ve insan duygularını işleyen şiirleriyle tanınır. Osmanlı padişahı Kanuni Sultan Süleyman’ın 1534’teki Irak Seferi sırasında onun dikkatini çekmiş, ancak kendisine verilen maaşı alamadığı için ünlü Şikâyetname eserini yazmıştır. 1556 yılında vebadan öldüğü düşünülmektedir.</p>
       
      </div> *@
     @*  <div class="even-post">
        <div class="post-header">
          <h3>Baki</h3>
          <p style="font-size:25px;">(1526-1600)</p>
          <span class="category"><a class="nav-link text-dark btnw" href="/Home/Baki">En bilinen eserleri</a></span> </div>
        <p class="temsilciler">Asıl adı Mahmud Abdülbaki olan Baki, 1526’da İstanbul’da doğdu. Küçük yaşta medrese eğitimi aldı ve şiire ilgi duymaya başladı. Kanuni Sultan Süleyman başta olmak üzere Osmanlı padişahlarının ve devlet adamlarının yakınında bulundu.

Baki, özellikle gazel türündeki şiirleriyle Osmanlı Türkçesini en etkili şekilde kullanan şairlerden biri olmuştur. Osmanlı padişahlarından büyük ilgi görse de şeyhülislam olma isteği gerçekleşmemiştir. 1600 yılında İstanbul’da vefat etmiştir.</p>
       
      </div> *@
     @*  <div class="clearfix"></div>
      <div class="odd-post">
        <div class="post-header">
          <h3>Nef'i</h3>
          <p style="font-size:25px;">(1572-1635)</p>
          <span class="category"><a class="nav-link text-dark btnw" href="/Home/Nefi">En bilinen eserleri</a></span> </div>
        <p class="temsilciler">Asıl adı Ömer olan Nefi, 1572’de Erzurum’un Pasinler ilçesinde doğdu. Medrese eğitimi aldıktan sonra İstanbul’a giderek devlet adamlarına kasideler yazmaya başladı. Özellikle IV. Murad ve Sultan I. Ahmet dönemlerinde saraya yakın oldu.

Nefi, hicivleriyle (taşlamalarıyla) tanınır. Ancak bu özelliği ona birçok düşman kazandırdı. Osmanlı sarayındaki önemli devlet adamlarını sert bir şekilde eleştirdiği için defalarca uyarıldı. Sonunda IV. Murad’ın vezirlerinden Bayram Paşa tarafından 1635 yılında boğdurularak öldürüldü.</p>
       
      </div> *@
  @*     <div class="even-post">
        <div class="post-header">
          <h3>Şeyh Galip</h3>
            <p style="font-size:25px;">(1757-1799)</p>
          <span><a class="nav-link text-dark btnw" href="/Home/seyhGalip">En bilinen eserleri</a></span> </div>
        <p class="temsilciler">Asıl adı Mehmet Esad olan Şeyh Galip, 1757 yılında İstanbul’da doğdu. Küçük yaşlardan itibaren şiire ilgi duydu ve Mevlevi tarikatına katıldı. Mevlevilikte önemli bir konuma yükselerek Galata Mevlevihanesi şeyhi oldu.

Divan edebiyatının son büyük şairi olarak kabul edilen Şeyh Galip, özellikle Hüsn ü Aşk adlı eseriyle tanınır. 1799 yılında, henüz 42 yaşındayken İstanbul’da vefat etmiştir.</p>
        </div>
      </div> *@
    </div>
    <!--CONTENT 1 END-->
    
  </div>
</div>