@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm">
    <h3 class="title">Nef'i'nin en bilinen eserleri</h3>
<h4>1. Divan (Türkçe Divan)</h4>
<ul class="icerik">
    <li>En bilinen ve önemli eseridir.</li>
    <li>Kasideleriyle ön plana çıkar.</li>
    <li>Ayrıca gazel, kıta ve rubai gibi nazım biçimleri de içerir.</li>
    <li>Devlet adamlarına övgüler yazdığı methiyeler, ustalıkla yazılmıştır.</li>
    <li>Şiirlerinde güçlü hayaller, süslü dil ve sanatlı söyleyiş hâkimdir.</li>
</ul>
<h4>2. Sihâm-ı Kaza (Kaza Okları)</h4>
<ul class="icerik">
    <li>Nef’î’nin meşhur hiciv (yergi) eseridir.</li>
    <li>Dönemindeki bazı devlet adamlarını, alimleri ve rakip şairleri sert bir dille eleştirmiştir.</li>
    <li>Bu eser, şairin ölümüne giden süreci başlatan eser olarak da bilinir. (Hicivlerinden dolayı idam edilmiştir.)</li>
    <li>Hiciv edebiyatının en önemli örneklerinden biri kabul edilir.</li>
</ul>
<h4>3. Farsça Divan</h4>
<ul class="icerik">
    <li>Nef’î, Farsça da çok iyi bildiği için bu dilde de şiirler yazmıştır.</li>
    <li>Ancak Farsça divanı, Türkçe divanı kadar ün kazanmamıştır.</li>
</ul>
</div>