@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm">
    <h3 class="title">Şeyh Galip'in en bilinen eserleri</h3>
    <h4>1. Hüsn ü Aşk (1782)</h4>
    <ul class="icerik">
        <li>En meşhur ve özgün eseridir.</li>
        <li>legorik (sembolik) bir mesnevidir.</li>
        <li>Ana karakterler: Hüsn (güzellik) ve Aşk.</li>
        <li>Aşk’ın Hüsn’e kavuşma yolculuğu, aslında insanın hakikati ve Allah’ı bulma yolculuğudur.</li>
        <li>Bu eser, hem edebî hem tasavvufî açıdan çok değerlidir.</li>
        <li>Dili oldukça süslüdür ve sembollerle doludur.</li>
    </ul>
    <h4>2. Divan (Türkçe Divan)</h4>
    <ul class="icerik">
        <li>Gazel, kaside, şarkı gibi birçok nazım şeklini içerir.</li>
        <li>Özellikle gazel türünde çok başarılıdır.</li>
        <li>Tasavvufî aşk, dünya hayatının geçiciliği, insanın iç yolculuğu gibi temalar öne çıkar.</li>
        <li>Sebk-i Hindî akımının etkisiyle yoğun hayal gücü, imgeler ve soyut kavramlar bolca yer alır.</li>
    </ul>
</div>