@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm poem-line">
    <br />
    <h2>Gazel Örneği</h2>
    <br />
    <p class="sair"><strong>Şair:</strong> Fuzuli</p>
    <br />
    <blockquote>
        <p>Benim tek hiç kim zar ü perişan olmasın ya Rab</p>
        <p>Esir-i derd-i aşk u dağ-i hicran olmasın ya Rab</p>
        <br />
        <p>Dem-a-dem cevrlerdir çekdiğim bi-rahm bütlerden</p>
        <p>Bu kafirler esiri bir müselman olmasın ya Rab</p>
        <br />
        <p>Görüb endişe-i katlimde ol mahı budur derdim</p>
        <p>Ki bu endişeden ol meh peşiman olmasın ya Rab</p>
        <br />
        <p>Çıharmak itseler tenden çeküb peykanı ol servin</p>
        <p>Çıhan olsun dil-i mecruh peykan olmasın ya Rab</p>
        <br />
        <p>Cefa ü cevr ile mu ‘tadım anlarsız n’olur halim</p>
        <p>Cefasına had ü cevrine payan olmasın ya Rab</p>
        <br />
        <p>Demen kim adli yok ya zulmü çok her hal ile olsa</p>
        <p>Gönül tahtına andan gayrı sultan olmasın ya Rab</p>
        <br />
        <p>Fuzuli buldu genc-i afiyet mey-hane küncünde</p>
        <p>Mübarek mülkdür ol mülk viran olmasın ya Rab</p>
    </blockquote>
</div>