@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="dznlm poem-line">
    <br />
    <h2>Kaside Örneği</h2>
    <br />
    <p class="sair"><strong>Şair:</strong> Nef'i</p>
    <br />
    <blockquote>
        <p>Esdi nesîm-i nev-bahâr açıldı güller subh-dem</p>
        <p>Açsın bizim de gönlümüz sâkî meded sun Câm-ı Cem</p>
        <br />
        <p>Erdi yine ürd-i behişt oldu havâ anber-sirişt</p>
        <p>Âlem behişt-ender-behişt her kûşe bir bâğ-ı İrem</p>
        <br />
        <p>Gül devri ayş eyyâmıdır zevk u safâ hengâmıdır</p>
        <p>Âşıkların bayramıdır bu mevsim-i ferhunde-dem</p>
        <br />
        <p>Dönsün yine peymâneler olsun tehî hum-hâneler</p>
        <p>Raks eylesin mestâneler mutrıbler etdikçe nagam</p>
        <br />
        <p>Bu demde kim şâm u seher meyhâne bâğa reşk eder</p>
        <p>Mest olsa dilber sevse ger ma'zûrdur şeyhu'l-Harem</p>
        <br />
        <p>Yâ neylesin bî-çâreler âlüfteler âvâreler</p>
        <p>Sâgar sunar meh-pâreler nûş etmemek olur sitem</p>
        <br />
        <p>Yâr ola câm-ı Cem ola böyle dem-i hurrem ola</p>
        <p>Ârif odur bu dem ola ayş u tarabla mugtenem.</p>
    </blockquote>
</div>
