@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm poem-line">
    <br />
    <h2>Mesnevi Örneği</h2>
    <br />
    <p class="sair"><strong>Şair:</strong> Mevlânâ Celâleddîn-i Rûmî</p>
    <br />
    <blockquote>
        <p>Dinle neyden kim hikâyet etmede</p>
        <p>Ayrılıklardan şikâyet etmede</p>
        <br />
        <p>Aslından ayrılan her şey feryâd eder</p>
        <p>Kavuşma gününü hasretle bekler</p>
        <br />
        <p>Aklı aşkın elinden kurtaran var mı?</p>
        <p>Aşk geldi mi akıl gider, onu tutan var mı?</p>
    </blockquote>
</div>