@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm poem-line">
    <br />
    <h2>Murabba Örneği</h2>
    <br />
    <p class="sair"><strong>Şair:</strong> Namık Kemal</p>
    <br />
    <blockquote>
        <p>Vatanın bağrına düşman dayamış hançerini,</p>
        <p>Yoğ imiş kurtaracak bahtı kara mâderini!</p>
        <p>Bulunur kurtaracak bahtı kara mâderini,</p>
        <p>Vatanın bağrına düşman dayasın hançerini!</p>
        <br />
        <p>Vatan evlâdıyız, biz doğduğumuz günden beri,</p>
        <p>Ana kucağında önce "vatan" dedik her seheri,</p>
        <p>Ona borçluyuz her şeyimizi, canı, tendeki yeri,</p>
        <p>Bu aşkı kim silebilir kalbimizden ne gezer!</p>
        <br />
        <p>Vatan sevgisi imandandır der atalar sözüyle,</p>
        <p>Bu sözle yetiştik biz, hem gönülle hem gözüyle,</p>
        <p>Düşmana karşı koyarız biz canı siper özüyle,</p>
        <p>Gerekirse toprağa düşeriz bir gül gibi taze.</p>
        <br />
        <p>Namık Kemal der: Ey gençlik, silkin ve uyan,</p>
        <p>Yurdu korumak varken rehavete dalma sakın!</p>
        <p>Bir milletin yükselişi gençlerin yürek sıcağından,</p>
        <p>Vatan için ölmek de bir şereftir, unutma bunu sen!</p>

    </blockquote>
</div>