@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm poem-line">
    <br />
    <h2>Rubai Örneği</h2>
    <br />
    <p class="sair"><strong>Şair:</strong> Ömer Hayyam</p>
    <br />
    <blockquote>
        <p>Ne tanrıyı gördüm ne cenneti, ne cehennemi,</p>
        <p>Ne de melek yüzlü huriyi, ne de şeytanı.</p>
        <p>Bu dünya hakkında ne söylüyorsam eğer,</p>
        <p>Yaşadıklarımdan öğrendim, kendi kendimi. </p>
    </blockquote>
</div>