@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm poem-line">
    <br />
    <h2>Şarkı Örneği</h2>
    <br />
    <p class="sair"><strong>Şair:</strong> Nedîm</p>
    <br />
    <blockquote>
        <p>Bir safa bahşedelim gel şu dil-i na-şada</p>
        <p>Gidelim serv-i revanım yürü sa'd-abada</p>
        <p>İşte üç çifte kayık iskelede amade</p>
        <p>Gidelim serv-i revanım yürü sa'd-abada</p>
        <br />
        <p>Gülelim oynayalım kam alalım dünyadan</p>
        <p>Ma-i Tesnim içelüm çeşme-i nev-peydadan</p>
        <p>Görelim ab-ı hayat akdığın ejderhadan</p>
        <p>Gidelim serv-i revanım yürü sa'd-abada</p>
        <br />
        <p>Bir sen ü bir ben ü bir mutrib-i pakize-eda</p>
        <p>İznin olursa eger bir de Nedim-i şeyda</p>
        <p>Gayrı yaranı bugünlük edip ey şuh feda</p>
        <p>Gidelim serv-i revanım yürü sa'd-abada</p>
        
    </blockquote>
</div>