@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm poem-line">
    <br />
    <h2>Terkib-i Bent Örneği</h2>
    <br />
    <p class="sair"><strong>Şair:</strong> Bağdatlı Ruhi</p>
    <br />
    <blockquote>
        <p>Sanman bizi kim şîre-i engûr ile mestüz</p>
        <p>Biz ehl-i harâbâtdanuz mest-i Elest'üz</p>
        <br />
        <p>Bu âlem-i fânîde ne mîr ü ne gedâyuz</p>
        <p>Â’lâlara â’lâlanuruz pest ile pestüz</p>
        <br />
        <p>Ey h’âce fenâ ehline zinhâr ululanma</p>
        <p>Dervîşi bu mülkün şeh-i bâ-hayl ü haşemdür</p>
        <br />
        <p>Hâk ol ki Hudâ mertebeni eyleye âli</p>
        <p>Tâc-ı ser-i âlemdür o kim hâk-i kademdür</p>
        <br />
        <p>Hoş gûşe-i zevk idi safâ ehline ‘âlem</p>
        <p>Bir hâl ile sürseydi eger ‘ömrini âdem</p>
    </blockquote>
</div>