@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm poem-line">
    <br />
    <h2>Terci-i Bent Örneği</h2>
    <br />
    <p class="sair"><strong>Şair:</strong> Ziya Paşa</p>
    <br />
    <blockquote>
        <p>Bu kârgâh-ı sun' aceb dershânedir,</p>
        <p>Her nakş bir kitâb-ı ledünden nişânedir.</p>
        <br />
        <p>Gerdûn bir âsiyâb-ı felâket-medârdır,</p>
        <p>Gûyâ içinde âdem-i âvâre dânedir.</p>
        <br />
        <p>Mânend-i dîv beççelerin iltikâm eder,</p>
        <p>Köhne ribât-ı dehr aceb âşiyânedir.</p>
        <br />
        <p>Tahkîk olunsa nakş-ı temâsîl-i kâinât,</p>
        <p>Ya hâb ü ya hayâl ü yâhud bir fesânedir.</p>
        <br />
        <p>Müncer olur umûr-ı cihân bir nihâyete,</p>
        <p>Sayfın şitâya meyli, bahârın hazânedir.</p>
        <br />
        <p>Kesb-i yakîne âdem için yoktur ihtimâl,</p>
        <p>Her i’tikâd akla göre gâibânedir.</p>
        <br />
        <p>Yârab! Nedir bu keşmekeş-i derd-i ihtiyâç?</p>
        <p>İnsanın ihtiyâcı ki bir lokma nânedir.</p>
        <br />
        <p>Yoktur siper bu kubbe-i fîrûze-fâmda,</p>
        <p>Zerrât cümle tîr-i kazâya nişânedir.</p>
        <br />
        <p>Asl-ı murâd hükm-i ezel bulmadır vücûd,</p>
        <p>Zâhirdeki savâb ü hatâ hep bahânedir.</p>
        <br />
        <p>Bir fâilin meâsiridir cümle hâdisât,</p>
        <p>Ne iktizâ-yı çerh ü ne hükm-i zamânedir.</p>
        <br />
        <p>Subhâne men tahayyera fî sun’ihi’l-ukûl,</p>
        <p>Subhâne men bikudretihî ya’cizü’l-fühûl.</p>
    </blockquote>
</div>