@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #footer {
        position: fixed;
        bottom: 0;
    }
</style>
<div class="dznlm poem-line">
    <br />
    <h2>Tuyuğ Örneği</h2>
    <br />
    <p class="sair"><strong>Şair:</strong> Kadı Burhaneddin</p>
    <br />
    <blockquote>
        <p>Selâm verdim rüşvet değildir deyü almadılar,</p>
        <p>Bir kez bâri muhabbetle bakaydılar.</p>
        <p>Felek her türlü mekrini gösterip,</p>
        <p>Bir dostu bile yanımda bırakmadılar.</p>
    </blockquote>
</div>